
assets/theuwufurry/.DS_Store
assets/space/.DS_Store
assets/minecraft/textures/.DS_Store
assets/minecraft/models/item/.DS_Store
assets/minecraft/.DS_Store
assets/.DS_Store
.DS_Store
assets/space/.DS_Store
assets/theuwufurry/.DS_Store
